#Bids-cards{
  width: 60vw;
  height: 130px;
  border-radius: 20px;
  background-color: #112B3C;
  color: #EFEFEF;
  padding-top: 15px;
  padding-left: 15px;
  justify-content: center;



  .bid-div-col {
    display: grid;
    justify-content: center;
    width: 150px;
  }
  .hire-button{
    margin-left: 30px;
    margin-right: 15px;
  }
}
