#Bids-cards{
  width: 60vw;
  height: 130px;
  border-radius: 20px;
  background-color: #112B3C;
  color: #EFEFEF;
  padding-top: 15px;
  padding-left: 15px;
  justify-content: center;



  .bid-div-col {
    display: grid;
    justify-content: center;
    width: 180px;
  }
  .icon-1 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 35px;
  }
  .icon-2 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
  }
  .icon-3 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 28px;
    position: sticky;
  }
  .icon-4 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
  }
  .icon-5 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 17px;
  }
  .details-button{
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  }
  .hire-button{
  margin-left: 15px;
  margin-right: 15px;
  }
}
