#indexcard {
  border-radius: 20px;
  background-color: #f8f9fa;
  padding: 15px;
}

.iconmove {
  margin-right: 10px;
}

.movescard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 10%;
}

.addmove {
  margin-top: 50px;
  margin-right: 100px;
  border-radius: 50px;
}

.moves-text {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  color: #333;
  position: relative;
}

#client-index .card {
  width: 45%;
  margin: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#client-index .card:hover {
  transform: translateY(-5px);
}



.moves-text::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f66b0e;
}

#client-index .card {
  width: 550px;
  margin: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bidscard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 8%;
  width: 80%;
}

.card-tab {
 margin-left: 39%;
}

.card-title-for-status {
  display: flex;

  .status-icon{
    margin-left: auto;
  }
}
