
  .low-container {
    display: flex;
  }

  .left-container {
    height: 100%;
    color: black;
    margin-right: 30px;
    flex-grow: 1;
  }

  .right-container {
    height: 100vh;
    margin-bottom: 45px;
    width: 50%;
  }

  .image {
    position: sticky;
    top: 0;
    width: 100%;
    object-fit: cover;
    height: 100vh;
    border-radius: 15px;
  }

  i {
    color: rgb(246, 107, 14);
  }

  .form-container {
    width: 80%;
    margin-inline: auto;

    .filter-form {
      width: 20%;
    }

    .search-form {
      width: 60%;
    }
  }

  h1 {
    text-align: center;
  }

  .centered-container {
    text-align: center;
  }

.move-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

#map {
  border-radius: 2%;
  width: 540px;
  height: 735px;
  position: sticky;
  top: 35px;
}
