#reg-img-div{
  background-image: url("https://images.unsplash.com/photo-1600518464441-9154a4dea21b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1975&q=80");
  align-items:flex-start;
  height: 90vh;
  margin: -16px;
  background-size: contain;
}
