<div class="footer">
  <div class="footer-links">
    <h3 class="footer-h1">Easy Move In</h3> <br>
    <h4 class="footer-p">We make moving Fun</h4>
  </div>
  <div class= "f_text">
    <p class="footer-p">
      Register MOving Company <br>
      Affiliate Partner Program <br>
      FAQ – Frequently Asked Question <br>
      Cookie Settings
    </p>
  </div>
  <div>
    <p class="footer-p">Contact us :</p>
    <p class="footer-p">EasyMovein@gmail.com</p>
  </div>
  <%# <div class="footer-copyright">
  </div> %>
</div>
