<div class="footer">
  <div class="footer-links">
    <h1 class="footer-h1">Easy Move In</h1> <br>
    <h4 class="footer-p">We make moving Fun</h4>
  </div>
  <div class= "f_text">
    <p class="footer-p">
      REGISTER MOVING COMPANY <br>
      AFFILIATE PARTNER PROGRAM <br>
      FAQ – FREQUENTLY ASKED QUESTIONS <br>
      COOKIE SETTINGS
    </p>
  </div>
  <div>
    <p class="footer-p">Contact us :</p>
    <p class="footer-p">EasyMovein@gmail.com</p>
  </div>
  <%# <div class="footer-copyright">
  </div> %>
</div>
