<div class="container px-4" data-controller="search">
  <div class="centered-container mb-5">
    <h1>CHOOSE A MOVE AND PLACE A BID!</h1>
  </div>
  <div class="row gx-5" style="margin-bottom: 2%;">
    <div class="col" style="margin-left: 6%;">
  <%= form_with url: company_path, method: :get  do %>
     <div class="search-form search-form-control form-group p-3 ms-2" style="
    width: 520px;"> <%= text_field_tag :query,
          params[:query],
          class: "form-control search-form",
          placeholder: "Find the perfect move"%>
          <button name="button" type="submit" class="btn btn-flat" >
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <div class="col" style="margin-right: 2%;">
       <div class="filter-form simple_form p-3">
        <select class="search-form-control form-control ms-5 form-control-rounded" type="text" name="filter" id="search_query_filter" data-action="change->search#sort" style="height: 62px;border-radius: 50px;">
          <option value="created">Recently posted</option>
          <option value="earliest">Earliest move</option>
        </select>
        <%# <button name="button" type="submit" class="btn btn-flat" style="position: absolute top: 2px;right: 2px;" >
          <i class="fa-solid fa-filter"></i>        </button> %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="row gx-5">
    <%= render 'companies', moves: @moves, markers: @markers %>
  </div>
  <div class="row gx-5">
    <<%= link_to "See all Bids", edit_move_path(@move.id), class: "small_button" %>
  </div>
</div>
