<div class="container-fluid text-align-center justify-content-center mb-5">
  <div class="centered-container mb-5">
    <h1>Choose a move and place a bid!</h1>
  </div>
  <%= form_with url: company_path, method: :get  do %>
    <div class="d-flex justify-content-between form-container" data-controller="search">
      <div style="width:80%; position: relative">
          <button name="button" type="submit" class="btn btn-flat" style="position: absolute; top: 2px;right: 2px;" >
          <i class="fas fa-search"></i>
        </button>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search-form",
          placeholder: "Find the perfect move"%>
      </div>
      <div class="filter-form simple_form">
        <select class="search-form-control form-control form-control" type="text" name="filter" id="search_query_filter" data-action="change->search#sort">
          <option value="created">Recently posted</option>
          <option value="earliest">Earliest move</option>
        </select>
        <%# <button name="button" type="submit" class="btn btn-flat" style="position: absolute top: 2px;right: 2px;" >
          <i class="fa-solid fa-filter"></i>        </button> %>
      </div>
    </div>
  <% end %>
<div class="container m-5">
  <%= render 'companies', moves: @moves, markers: @markers %>

</div>
