<div class="container-full strip d-flex justify-content-center">
</div>
<div id="homepage" class="container-full">
  <%= image_tag "https://images.unsplash.com/photo-1614359835514-92f8ba196357?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80" %>
</div>
<div class="container-full d-flex justify-content-center" >
  <h1>How it works</h1>
</div>
