
    <div class="small-card mb-5" id="card-div">
        <h5 class="card-title">
          <%= @company.name%></h5>

        <br>
        <h5 class="card-title"><i class="fa-regular fa-clock" style="color: #f66b0e"></i>
          <%= @company.address%></h5>

          <%= link_to "add a review", new_company_review_path(@company.id), class: "small_button_goal" %>

      </div>
      <%# <% if @reviews%>
      <div>
      <%# <% @reviews.each do |review| %>
      <%# <%= review.content %>
      <%# <%end%>
      </div>
      <%# <%end%>

    </div>
