
    <div class="small-card mb-5" id="card-div">
        <h5 class="card-title">
          <%= company.name%></h5>

        <br>
        <h5 class="card-title"><i class="fa-regular fa-clock" style="color: #f66b0e"></i>
          <%= move.address%></h5>
          
          <%= link_to "Bid", new_move_bid_path(move.id), class: "small_button_goal" %>
        <% end %>
      </div>
    </div>
