button.small_button {
  background-color: rgb(246, 107, 14);
  font-family: 'Hind', sans-serif;
  color: white;
  border-radius: 7px;
  margin-top: 10px;
  border: none;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  transition: .3s all ease-in-out;
  &:hover {
    color: rgb(246, 107, 14);
    background-color: white;
    font-weight: 900;
  }
}


a.small_button {
  background-color: rgb(246, 107, 14);
  font-family: 'Hind', sans-serif;
  color: white;
  border-radius: 7px;
  margin-top: 10px;
  border: none;
  text-align: center;
  padding: 10px 28px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  transition: .3s all ease-in-out;
  &:hover {
    color: rgb(246, 107, 14);
    background-color: white;
    font-weight: 900;
  }
}
