.navbar-lewagon {
  justify-content: space-between;
  background-color: rgb(17, 43, 60);
  height: 70px;
  display: flex;
  align-items: center;
}



.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#login1 {
  color: rgb(246, 107, 14);
  margin-top: 5px ;
  font-size: 30px;
}
