.navbar-lewagon {
  justify-content: space-between;
  background-color: $dk-blue;
  height: 65px;
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#login {
  color: rgb(246, 107, 14);
  margin-top: 5px ;
  font-size: 30px;
}

.company{
  color: rgb(246, 107, 14);
  text-decoration: none;
}

.logo{
  border-radius: 10%;
}
