.small-card{
  padding: 20px;
  color: white;
  background-color: $dk-blue;
  border-radius: 10px;
  font-family: 'Architects Daughter', cursive ;
  font-size: 20px;
  box-shadow: 5px 5px 5px grey;
  transition: .2s all ease-in-out;
  width: 22rem;
  &:hover {
    box-shadow: 5px 5px 15px grey;
    transform: scale(1.05);
  }
a {
  color:white;
}
  i {
    color: #f66b0e;
  }
}
